:root {
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #303030;
    --dark-greyy: #303030;
    --light-grey: #DEDEDE;
    --lime: #D3F438;
    --cream: #CFD3BA;
    --grey1: #53544A;
    --grey2: #7C7F70;
    --grey3: #1d1d1d;
    --cream1: #f0f1e9;
    --cream2: #CFD3BA;
    --cream3: #E2E5D6;
    --cream4: #F4F4EE;
    --dark-grey-2: #262626;
    --black-text: #000000;
    --olive: #546216;

}